DELIMITER \$\$
DROP PROCEDURE IF EXISTS DropIndexIfExists\$\$
CREATE PROCEDURE DropIndexIfExists(IN tName VARCHAR(255), IN iName VARCHAR(255))
BEGIN
  SET @exist = (SELECT COUNT(*) FROM information_schema.statistics WHERE table_name = tName AND index_name = iName AND table_schema = database());
  IF @exist > 0 THEN
    SET @sqlstmt = CONCAT('ALTER TABLE ', tName, ' DROP INDEX ', iName);
    PREPARE stmt FROM @sqlstmt;
    EXECUTE stmt;
    DEALLOCATE PREPARE stmt;
  END IF;
END\$\$
DELIMITER ;

CALL DropIndexIfExists('SERIAL_NUMBERS', 'UKjyhuus9wjii443syi9nt4fcrx');
CALL DropIndexIfExists('SERIAL_NUMBERS', 'serial_number');
DROP PROCEDURE DropIndexIfExists;

