/* RepairQuotationTemplate.module.css
   All styles are now inline in the JSX component for print reliability.
   This file is kept for any additional print-specific overrides only.
*/

@media print {
    @page {
        size: A4 portrait;
        margin: 10mm 12mm;
    }

    body * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
}
